<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <link rel="canonical" href="{{ .Permalink  }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">

</head>
<body class="bg-washed-yellow near-black">

<header class="site-header pa2 ba mw9 center" role="banner">
  {{ partial "site-header" . }}
</header>

<main>
  {{ block "main" . }}
  {{ end }}
  {{ block "footer" . }}
  {{ end }}
</main>


<footer role="contentinfo" class="mw9 center">
  {{ partial "site-footer.html" . }}
</footer>

</body>
</html>

