{{ $pageData := replace .Page.Title " " "_" }}
{{ $yaml := (index .Site.Data.event $pageData) }}
{{ with $yaml }}
<footer>
  <dl>
  {{ $schedule := $yaml.schedule }}
  {{ with $schedule }}
    {{ range $index, $schedule := $yaml.schedule }}
      <dt class="name"><b>{{ $index | replaceRE "^[0-9] " "" }}</b></dt>
      <dd class="summary">{{ markdownify .summary }}</dd>
      <dd class="time">{{ .start }}-{{ .end }}</dd>
      {{ with .level }}<dd>{{ markdownify . }}</dd>{{ end }}
      {{ with .levels }}<dd> Levels {{ delimit .level ", " " and "}}</dd>{{ end }}
    {{ end }}
  {{ end }}

  {{ $price := $yaml.price }}
  {{ with $price }}
  <dt class="price"><b>Prices:</b></dt>
    {{ range  $index, $price := $yaml.price }}
    <dd><b>{{ $index }}:</b> {{ markdownify . }}</dd>
    {{ end }}
  {{ end }}

  </dl>
</footer>
{{ end }}
