.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

[href="#main"] {
  border: 1px solid #000;
  position: absolute;
  right: 100%;
}

[href="#main"]:focus {
  top: 0;
  right: auto;
}

.logo em {
  display: none;
}
.nav-item {
  padding: 1em;
}
.nav-item.is-active  {
  outline: solid 1px #000;
}
.nav-item.is-active a {
  text-decoration: none;
  pointer-events: none;
  color: #000;
}
