<div class="tc">
  <h1 class="p2 tc pa2">
      {{ .Title }}
  </h1>
  <h2 class="p2 tc pa2">
    {{ if .IsHome }}{{ .Site.Params.tagline }}{{ else }}{{ .Params.tagline }}{{ end }}
  </h2>
</div>

<nav class="site-nav dark-bg">
  {{ $currentNode := . }}

  <ul class="nav-list list bt bb tc center p0">
    {{ range .Site.Menus.main }}
    <li class="nav-item f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa1 ph4-l {{ if $currentNode.IsMenuCurrent "main" . }}is-active{{ end }}">

      <a href="{{ .URL }}">{{ with .Pre }}<span class="logo">{{ . }} : </span>{{ end }}{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>

  <ul class="nav-list list bb center p0 tc m0">
    {{ range .Site.Menus.events }}
    <li class="dib pa1">
      {{ if .HasChildren }}
      <b class="pill">{{ .Name }}</b>
      <ul class="list  bt center p0">
        {{ range .Children }}
        <li class="nav-item link bg-animate black-80 hover-bg-lightest-blue dib pa1  {{ if $currentNode.IsMenuCurrent "events" . }}is-active{{ end }}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      {{ else }}
        <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </li>
    {{ end }}
  </ul>

</nav>



