<a class="tc" href="/">{{ with .Site.Title }}<h1>{{ . }}</h1>{{ end }}</a>

<nav class="site-nav dark-bg">
  {{ $currentNode := . }}
  <ul class="nav-list list bt bb tc center p0">
    {{ range .Site.Menus.main }}
    <li class="nav-item f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa1 ph4-l {{ if $currentNode.IsMenuCurrent "main" . }}is-active{{ end }}">
      <a href="{{ .URL }}">{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>


  <h2 class="p2 tc">our events</h2>
  <ul class="nav-list list bt bb tc center p0">
    {{ range .Site.Menus.events }}
    <li class="nav-item f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa1 ph4-l {{ if $currentNode.IsMenuCurrent "main" . }}is-active{{ end }}">
      <a href="{{ .URL }}">{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>
</nav>



